textarea {
    min-height: 400px;
}

select {
    width: 100%;
    margin: 0.5em 0;
    text-align: center;
}

@media (min-width: 992px) {
    select {
        width: auto;
        margin: 0;
        text-align: left;
    }
}