:root {
    --text-color: #333;
    --editor-background: #f5f2f0;
    --editor-border: #ccc;
    --placeholder-color: #888;
    --info-color: #d8b4fe;
    --warning-color: #eab308;
    --danger-color: #fca5a5;
    --comment-color: #cbd5e1;
}

/** 
 * I thought about adding a dark mode but for now I won't. 
 * Should be easy enough, I just can't be bothered right now, as simple as that.
 */

[data-theme="dark"] {
    --text-color: #ccc;

}